.home-courses {
  margin-bottom: 2rem;
  padding: 0 1rem;
  display: grid;
  gap: 2.5rem;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

@media screen and (width < 80rem) {
  .home-courses {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2rem;
  }
}

@media screen and (width < 48rem) {
  .home-courses {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.course-card {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  border-radius: var(--border-radius-lg);
}

.course-card:hover,
.course-card:focus {
  transform: scale(1.05);
}

.course-card > img {
  border-radius: var(--border-radius-lg);
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.course-card > section {
  padding: 1rem 1rem 0;
  flex: 1;
}

.course-card > section > h2 {
  font-size: 1.375rem;
  line-height: 1.625rem;
  opacity: 0.95;
  font-weight: 600;
}

.course-card > section > p {
  padding: 0.25rem 0;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 0.25rem;
  color: var(--text-secondary);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.course-card > section > ul {
  margin: 0.5rem 0 0.25rem;
  display: flex;
  align-items: center;
}

.course-card > section > ul > li {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  line-height: 1;
  font-size: 0.875rem;
  font-weight: 500;
}

.course-card > section > ul > li > img {
  margin-right: 0.25rem;
  opacity: 0.8;
}
