section:has(> table.manage-courses-table) {
  margin: 0 1rem;
}

table.manage-courses-table {
  width: 100%;
  margin-bottom: 1.5rem;
  border-collapse: collapse;
}

table.manage-courses-table th {
  border-width: 1px;
  padding: 0.5rem;
  text-align: left;
}

table.manage-courses-table td {
  border-width: 1px;
  padding: 0.5rem;
  line-height: 1.5;
}

table.manage-courses-table tr[draggable="true"] {
  cursor: move;
}

table.manage-courses-table .manage-courses-drag-handle {
  visibility: hidden;
}

table.manage-courses-table tr[draggable="true"] .manage-courses-drag-handle {
  visibility: visible;
}

ul.manage-courses-actions {
  display: flex;
}

ul.manage-courses-actions li:not(:last-child) {
  margin-right: 0.5rem;
}

.manage-courses-dragging-row {
  opacity: 0.5;
  background-color: var(--bg-body);
}

.manage-courses-ordering-buttons {
  display: none;
}
