.alert {
  border-radius: var(--border-radius-lg);
  border-width: 1px;
  padding: 1rem;
  border-color: var(--border-color);
  color: var(--text-body);
}

.alert.error {
  border-color: var(--border-color-error);
  color: var(--text-error);
}

.alert.success {
  border-color: var(--border-color-success);
  color: var(--text-success);
}

.alert > h4 {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 0.25rem;
}

.alert > p {
  font-size: 0.875rem;
}

/** Round avatar bubble showing an image or name initials
 * 
 * TODO - add examples (image & name initials)
 */
.avatar {
  border-radius: var(--border-radius-full);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-button);
  line-height: 1;
  color: var(--text-button);
  font-size: 0.875rem;
  height: 2rem;
  width: 2rem;
}

/* Small inline badge with border, background & rounded corners
 * 
 * Example: <span class="UI-Badge">Enrolled</span>
 */
.badge {
  padding: 0.125rem 0.5rem;
  border-radius: var(--border-radius-full);
  background-color: var(--bg-disabled);
  font-size: 0.875rem;
  line-height: 1rem;
  color: var(--text-body);
  font-weight: 500;
  border-width: 1px;
  opacity: 0.9;
}

/** TODO - Add docs */
.breadcrumb {
  margin-bottom: 0.125rem;
}

.breadcrumb > ul {
  display: flex;
  color: var(--text-secondary);
}

.breadcrumb > ul > li > a:hover {
  color: var(--text-link-hover);
}

.breadcrumb > ul > li > a:active {
  color: var(--text-link-hover);
}

/** TODO - Add docs */
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  text-align: center;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity,
    box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  color: var(--text-button);
  background-color: var(--bg-button);
  border: 1px solid var(--bg-button);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  cursor: pointer;
}

.button:hover {
  background-color: var(--bg-button-hover);
  box-shadow: rgb(0 0 0) 2px #f8fafc;
}

.button:active {
  background-color: var(--bg-button-active);
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.button.outline {
  color: var(--bg-button);
  background-color: transparent;
  border: 1px solid var(--bg-button);
}

.button.outline:hover {
  color: var(--text-button);
  background-color: var(--bg-button);
}

.button.outline:active {
  color: var(--text-button);
  background-color: var(--bg-button-active);
}

.button.wide {
  min-width: 8rem;
}

/** A horizontal row of buttons
 * TODO - add example
 */
.button-row {
  display: flex;
  gap: 1rem;
}

/** TODO - Add docs */
.container {
  width: 80rem;
  max-width: 100%;
  margin: 0 auto;
}

/** TODO - Add docs */
.container.small {
  width: 60rem;
  max-width: 100%;
  margin: 0 auto;
}

/** TODO - Add docs */
.course-card {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  border-radius: var(--border-radius-lg);
}

.course-card:hover,
.course-card:focus {
  transform: scale(1.05);
}

.course-card > img {
  border-radius: var(--border-radius-lg);
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.course-card > section {
  padding: 1rem 1rem 0;
  flex: 1;
}

.course-card > section > h2 {
  font-size: 1.375rem;
  line-height: 1.625rem;
  opacity: 0.95;
  font-weight: 600;
}

.course-card > section > p {
  padding: 0.25rem 0;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 0.25rem;
  color: var(--text-secondary);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.course-card > section > ul {
  margin: 0.5rem 0 0.25rem;
  display: flex;
  align-items: center;
}

.course-card > section > ul > li {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  line-height: 1;
  font-size: 0.875rem;
  font-weight: 500;
}

.course-card > section > ul > li > img {
  margin-right: 0.25rem;
  opacity: 0.8;
}

/** TODO - Add docs */
.dropdown {
  display: inline-block;
  position: relative;
}

.dropdpown > button {
  display: flex;
  align-items: center;
  margin: -0.5rem; /* Enable pointer movement from button to items */
  padding: 0.5rem;
}

.dropdown > ul {
  margin-top: 0.125rem;
  font-size: 0.875rem;
  display: none;
  position: absolute;
  min-width: 14ch;
  background-color: var(--bg-body);
  border-width: 1px;
  left: 0;
  border-radius: var(--border-radius-md);
  padding: 0.5rem 0;
}

.dropdown.right > ul {
  left: auto;
  right: 0;
}

.dropdown-link {
  text-align: left;
  width: 100%;
  opacity: 0.9;
  display: block;
  color: var(--text-body);
  padding: 0.25rem 1rem;
}

.dropdown-link:hover {
  opacity: 1;
  background-color: var(--bg-disabled);
}

.dropdown:hover > ul,
.dropdown:focus-within > ul {
  display: block;
}

.icon {
  height: 1rem;
  width: 1rem;
}

/** TODO - Add docs */
.UI-Link {
  color: var(--text-link);
}

.UI-Link:hover {
  color: var(--text-link-hover);
}

.UI-Link:active {
  color: var(--text-link-active);
}

/** TODO - Add docs */
.UI-Main-Nav {
  z-index: 25;
  border-bottom: 1px solid var(--border-color);
  position: fixed;
  left: 0;
  right: 0;
  background-color: var(--bg-body);
  padding: 0.5rem 1rem;
  height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.UI-Main-Nav .ui-main-nav-logo {
  height: 1.75rem;
  display: inline;
}

.UI-Main-Nav .ui-main-nav-link {
  display: block;
  margin-left: 0.5rem;
  font-size: 0.875rem;
  color: var(--text-secondary);
}

.UI-Main-Nav .ui-main-nav-link:hover {
  color: var(--text-link-hover);
}

.UI-Main-Nav .ui-main-nav-link:active {
  color: var(--text-link-active);
}

.UI-Main-Nav + div.ui-main-nav-spacer {
  height: 3rem;
}

/** TODO - Add docs */
.UI-Page-Header {
  margin: 2rem 1rem 1.5rem;
}

/* sm */
@media screen and (width < 48rem) {
  .UI-Page-Header {
    margin: 1.5rem 1rem 1.25rem;
  }
}

/** TODO - Add docs */
.UI-Page-Heading {
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 1;
}

/* sm */
@media screen and (width < 48rem) {
  .UI-Page-Heading {
    font-size: 1.875rem;
  }
}

/** TODO - Add docs */
.UI-Page-Section {
  margin: 1rem;
}

/** TODO - Add docs */
.UI-Page-Subheading {
  padding-top: 0.125rem;
  font-size: 1.25rem;
  margin-top: 0.375rem;
  color: var(--text-secondary);
  line-height: 1;
}

/* sm */
@media screen and (width < 48rem) {
  .UI-Page-Subheading {
    font-size: 1rem;
  }
}
