/* ********* START VARIABLES ********* */

:root {
  --primary-50: rgb(245 248 255);
  --primary-100: rgb(194 215 255);
  --primary-200: rgb(107 159 255);
  --primary-300: rgb(61 129 255);
  --primary-400: rgb(31 109 255);
  --primary-500: rgb(15 99 255);
  --primary-600: rgb(10 87 230);
  --primary-700: rgb(7 75 202);
  --primary-800: rgb(4 58 159);
  --primary-900: rgb(4 44 118);
  --text-body: rgb(35 44 62);
  --text-secondary: rgb(93 99 111);
  --text-link: var(--primary-400);
  --text-link-hover: var(--primary-600);
  --text-link-active: var(--primary-800);
  --text-button: #fff;
  --text-error: rgb(248 113 113);
  --text-success: rgb(16 185 129);
  --bg-body: #fff;
  --bg-body-translucent: rgb(255 255 255 / 50%);
  --bg-disabled: rgb(239 239 239 / 30%);
  --bg-success: rgb(222 252 233);
  --bg-button: var(--primary-400);
  --bg-button-hover: var(--primary-600);
  --bg-button-active: var(--primary-800);
  --border-color: rgb(227 229 232 / 80%);
  --border-color-button: var(--primary-400);
  --border-color-error: rgb(248 113 113);
  --border-color-success: rgb(16 185 129);
  --border-radius: 0.25rem;
  --border-radius-md: 0.375rem;
  --border-radius-lg: 0.5rem;
  --border-radius-full: 9999px;
  --font-body: "Inter";
}

/* $$$$$$$$$ END VARIABLES $$$$$$$$$ */

/* ********* START MEDIA QUERIES ********* */

/* Copy-paste these into other files */

/* xl & below */
@media screen and (width < 96rem /* 1536px */) {
  /* add styles here */
}

/* lg & below */
@media screen and (width < 80rem /* 1280px */) {
  /* add styles here */
}

/* md & below */
@media screen and (width < 64rem /* 1024px */) {
  /* add styles here */
}

/* sm & below */
@media screen and (width < 48rem /* 768px */) {
  /* add styles here */
}

/* xs & below */
@media screen and (width < 40rem /* 640px */) {
  /* add styles here */
}

/* xxs & below */
@media screen and (width < 32rem /* 512px */) {
  /* add styles here */
}

/* xxxs & below */
@media screen and (width < 24rem /* 384px */) {
  /* add styles here */
}

/* $$$$$$$$$ END MEDIA QUERIES $$$$$$$$$ */
